{% extends "::base.html.twig" %}

{% block title %}AppBundle:Background:getBackground{% endblock %}

{% block body %}
<h1>Welcome to the Background:getBackground page</h1>

    {{ background.id }} | {{ background.src }} | {{ background.heureDate|date() }}<br/>
    
    <img src="{{ asset('image/background') }}" height="100"/>
    
{% endblock %}
