{% extends "::base.html.twig" %}

{% block title %}AppBundle:Background:patchBackground{% endblock %}

{% block body %}
    <h1>Welcome to the Background:patchBackground page</h1>

    {% if message is defined %}
        {{ message }}
    {% endif %}

    {{ form_start(form) }}
                    {{ form_rest(form) }}
                {{ form_end(form) }}

{% endblock %}
