{% extends "::base.html.twig" %}

{% block title %}AppBundle:Point:postPoint{% endblock %}

{% block body %}
<h1>Welcome to the Point:postPoint page</h1>

{% if message is defined %}
    {{ message }}
{% endif %} 

{{ form(form) }}
{% endblock %}
