{% extends "::base.html.twig" %}

{% block title %}AppBundle:ActivePeriode:pushActivePeriode{% endblock %}

{% block body %}
<h1>Welcome to the ActivePeriode:pushActivePeriode page</h1>
{% endblock %}
