{% extends "::base.html.twig" %}

{% block title %}AppBundle:ActivePeriode:postActivePeriode{% endblock %}

{% block body %}
<h1>Welcome to the ActivePeriode:postActivePeriode page</h1>
{% endblock %}
