{% extends "::base.html.twig" %}

{% block title %}AppBundle:Utilisateur:postUtilisateur{% endblock %}

{% block body %}
<h1>Welcome to the Utilisateur:postUtilisateur page</h1>

{% if message is defined %}
    {{ message }}
{% endif %} 

{{ form(form) }}
{% endblock %}
